/.gradle/

# Build output
/**/bin/
/**/out/
/**/build/

# IDE modules
/*.iml

# Default ignored files
/.idea/shelf/
/.idea/workspace.xml

# Editor-based HTTP Client requests
/.idea/httpRequests/

# Datasource local storage ignored files
/.idea/dataSources/
/.idea/dataSources.local.xml

# Artifact and libraries cache
/.idea/artifacts/
/.idea/libraries/

# Intellij swing and javafx designer configuration
/.idea/uiDesigner.xml
